* {
  margin: 5px
}

h1 {
  font-size: 30px;
}

button {
  border: 1px solid #000;
  cursor: pointer;
  padding: 3px;
}

.input {
  border-color: aqua;
}

.button-primary {
  background-color: mediumturquoise;
}

.button-secondary {
  background-color:rgb(24, 34, 172);
}